# Compiler files
cache/
out/

# Ignores development broadcast logs
run-latest.json
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.forge
.env.test
.env.save
..env.swp

#lib
lib/
lib/*

#code coverage
coverage/
coverage/*
/coverage/
/coverage/*

# Misc
node_modules
.DS_Store
.vscode
lcov.info
report/
.idea/
slither_results.md